# Airflow providers (don't reinstall airflow itself, it's in the base image)
apache-airflow-providers-postgres==5.13.1
apache-airflow-providers-common-sql==1.26.0
authlib==1.5.2
python-ldap==3.4.4
asgiref==3.8.1

# General dependencies
pyodbc>=5.2.0
python-dotenv==1.1.1
requests==2.32.4